<h2 class="card-title" style="margin-top: 50px; margin-bottom: 30px;">Contacts</h2>
<div class="list-group" style="max-width: 30%; min-width: 200px;">
  <a href="mailto:kavraiskyi@gmail.com" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Email:</h5>
    </div>
    <p class="mb-1">kavraiskyi@gmail.com</p>
  </a>
  <a href="https://www.facebook.com/d.kavraiskyi" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Facebook:</h5>
    </div>
    <p class="mb-1">d.kavraiskyi</p>
  </a>
  <a href="https://www.linkedin.com/in/dmitryi-kavraiskyi/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">LinkedIn</h5>
    </div>
    <p class="mb-1">Dmitryi Kavraiskyi</p>
  </a>
</div>
